[2017-11-09 03:37] ToadJamb opened #1 "agenda list component"
Create a React component to hold the agenda item details. This will be a container that will ultimately be used inside a larger component that will loop over each of the agenda items.

[2017-11-10 07:37] dorachan2000 opened #2 "Setup and integrate Redux"
Setup and integrate React Router with Redux.

Please create the appropriate directory structures as well. I am thinking the electron boilerplate repo is a good start because it has React Router with Redux

https://github.com/chentsulin/electron-react-boilerplate/tree/master/app

[2017-11-10 07:46] dorachan2000 opened #3 "Set up React component for tutorial page"
Background:
How the city council works and how people can participate either directly at the meeting or through engage aren't really clear. It would be nice if there was a tutorials page that covers basics for people who aren't familiar with the process.

Requirement:
It could start with a React Component that simply displays html like a website. It should contain information about city council an

[2017-11-10 07:52] dorachan2000 opened #4 "Create React Component for Preference Selection"
Create React component or components that will allow user to click category buttons and store information of clicked buttons.

Refer to following screenshot from the Figma file

![screen shot 2017-11-09 at 11 53 30 pm](https://user-images.githubusercontent.com/11156409/32648114-3a91b45e-c5a9-11e7-8e5a-4a5721703ebf.png)

https://www.figma.com/file/DFWuuo5ZVOEgEmKedY6I8bRd/engage_prototype---Page-1

[2017-12-14 04:18] #2 closed

[2017-12-14 04:18] dorachan2000 opened #6 "create mobile landing page"

[2017-12-14 04:18] dorachan2000 opened #7 "setup google analytics on landing page"

[2018-02-07 08:09] dorachan2000 commented on #6
done

[2018-02-07 08:09] #6 closed

[2018-02-07 08:12] dorachan2000 commented on #4
Ever implemented it in PR #8

[2018-02-07 08:12] #4 closed

[2018-03-29 02:54] adamcee opened #17 "Create a Topic Card for the "Select Topics to Engage with" (Topic Selection) Screen"
Card is a Category that houses subcategories. When the user clicks it, their feed will get populated with items from that category.

- [ ] There should be an icon in the center or a color associated with the topic.
- [ ] There should be the topic title below the icon.
- [ ] The card has a "selected/deselected" state. When the card is clicked, the card should change color or something to let the us

[2018-03-29 03:01] adamcee commented on #17
@adamcee do you want to work on this?

[2018-03-29 03:01] adamcee commented on #17
@adamcee sure!

[2018-03-29 07:53] #7 closed

[2018-04-02 17:51] #17 closed

[2018-04-02 18:00] adamcee opened #21 "Screen for user to select tags"
This will be the first screen users see after login. Here the user will select, from a vertical list, the tags (Transportation, Education, etc) representing the various kinds of topics they wish to see updates on in their Feed.

- At the top of the list there is a *short* description telling the user what to do, and why, such as: "Select some issues you would like to keep up-to-date on"
- User is

[2018-04-02 18:02] adamcee commented on #21
Hey all - this is for tracking the product feature. I'm going to start making issues at a higher level so we can see how the app is progressing. We should totally still keep making Issues (if you want) for implementation/technical stuff as we go. This is more for me to help track the state of product development/the app overall.

[2018-04-02 18:06] adamcee opened #22 "Build web app skeleton/core"
Build core of web app
FYI @dorachan2000 @ToadJamb @uriel621

- Basic routing
- A basic '<View/> component we can use (much like a template) to build pages/screens
- Some functions to help with HTTP requests
- Probably a little bit of redux stuff as well.
- Some basic styles, based on the Engage Landing Page, which we can reuse as we build the app.

[2018-04-24 04:48] hungrymonkey opened #24 "Code of contribution"
We should add a code of contribution to this documentation.

Perhaps make the code a living documentation

[2018-04-26 17:42] adamcee opened #27 "Agenda item card"
Working proto/mvp of Agenda item card:

Agenda item card (scraped from council website) User reads/scrolls through Recommended Action and Executive Summary, clicks “Take Action” button that goes to vote form.

https://docs.google.com/document/d/19YzAdn1bi2khqk13Cd7qVs9g7KHhuEPIOLdJVfltxcI/edit

[2018-04-26 17:43] adamcee opened #28 "User should be able to register position from the Agenda Detail page using a popup Form (formerly called 'Vote form')"
** UPDATE AS OF June 26**
Mockup:

- User should be able to click on one of 3 buttons on the Agenda Item Page (Agree, Disagree, Need more info) and open a modal popup form  (link to mockup)

- User should not be able to submit the form without an email address

- User should be able to see the title of the agenda item on the form

- User should be able to add comment, name, demographic info, in ad

[2018-04-26 17:43] adamcee commented on #28
@eselkin believe this is what you are doing in add-form branch?

[2018-04-26 17:44] adamcee opened #29 "Feed of Agenda Items"
Working proto / mvp of feed of agenda items

Feed of agenda items (scraped from council website). User scrolls through agenda items, clicks one that interests them, goes to detail page.

https://docs.google.com/document/d/19YzAdn1bi2khqk13Cd7qVs9g7KHhuEPIOLdJVfltxcI/edit

[2018-04-26 17:46] adamcee opened #30 "Splash page"
Working proto / mvp of splash page

Splash page - no sign in. User clicks a link, lands on splash page, takes user to list of topics.

https://docs.google.com/document/d/19YzAdn1bi2khqk13Cd7qVs9g7KHhuEPIOLdJVfltxcI/edit

[2018-04-26 17:47] adamcee commented on #22
done

[2018-04-26 17:47] #22 closed

[2018-04-27 05:44] eselkin commented on #28
And it's marginally complete.

[2018-05-07 04:33] dorachan2000 commented on #1
Implemented with
#33

[2018-05-07 04:33] #1 closed

[2018-05-07 04:46] dorachan2000 commented on #29
Done with #33

[2018-05-07 04:46] #29 closed

[2018-05-07 04:46] dorachan2000 commented on #30
Implemented with current landing page. "Click to Engage" button will take you to the feed

[2018-05-07 04:46] #30 closed

[2018-05-07 22:42] EzDesigns commented on #27
AS A user
I WANT see a card with agenda item information on it
SO THAT I can know if I'm interested in the information that I see

GIVEN I see a card that I am interested in
WHEN I click the card (buttons on the card)
THEN I am take to the full agenda
![agenda feed_mvp](https://user-images.githubusercontent.com/30360266/39728709-31db3222-520d-11e8-9910-bc5a30d0ea1a.png)

[2018-05-07 23:00] EzDesigns commented on #28
AS A user
I WANT see the full agenda item
SO THAT I can read it and vote por/ con the RA.

GIVEN I vote
WHENI click the button
THEN I am directed to input my demograpfic information

See image:
![agenda item form screen](https://user-images.githubusercontent.com/30360266/39728924-288b3c70-520e-11e8-8883-e69a6555d54a.png)

[2018-05-08 03:03] danielbaruch opened #36 "Mobile - Landing page"
**User Story:**
As a Santa Monica Resident, I want to open the app and land on a page that provides me an explanation as to what the app does, so that I may navigate the app knowing how to use the app.

**Notes:**
1. Please see the attached Mockup for the "Engage Landing Page"
2. Please note that a button called "Explore" must be added to the bottom of the page so that the user may navigate to the

[2018-05-08 03:10] EzDesigns commented on #36
![prototype landing](https://user-images.githubusercontent.com/30360266/39735947-b92e1602-5232-11e8-9665-dcc44af413e9.png)

[2018-05-08 03:19] adamcee opened #37 "Refactor PreferenceList redux code to use redux ducks pattern"
1. Check out the redux docs - they are excellent and friendly:
https://redux.js.org/

2. Check out the redux ducks project structure pattern:
https://github.com/erikras/ducks-modular-redux

3. Refactor existing redux code for PreferenceList (see list of files below) to use the redux ducks project structure.
 - The code to be refactored lives in:
  - [src/reducers/PreferenceListReducer.js](https://

[2018-05-08 03:41] danielbaruch opened #38 "Mobile - Item Feed page"
**User Story:**
As a Santa Monica Resident, I want to see all the active Items that are currently open with the Santa Monica City Council Members are currently reviewing, so that I may view the open issues.

**Notes:**
1. The user will navigate to the Item Feed by selecting the Landing Feed (#36) button.
2. The feed will have individual "Item Card" stacked on top of each other.
3. Each "Item Card"

[2018-05-08 03:54] hungrymonkey opened #39 "Website Safari looks strange"
I open up the website on safari and it looks strange.

open up master

![screen shot 2018-05-07 at 8 51 24 pm](https://user-images.githubusercontent.com/771339/39737182-a42703a8-5238-11e8-9494-f992d01b7596.png)

this url looks fine

https://engage-santa-monica.herokuapp.com/#/

[2018-05-10 21:03] danielbaruch opened #40 "Mobile - Item Card details on the Item Feed"
User Story:
As a Santa Monica Resident, I want to select one of the Item Cards on the Item Feed (#38) that contains a quick summary of the Santa Monica City Council Members current item, so that I may have the option to view the Issue Card and select the Issue Card.

**Notes:**
1. Please reference ticket #38 for details regarding the Items Feed format.
2. Each "Item Card" will have the following f

[2018-05-10 21:12] danielbaruch opened #41 "Mobile - Item Card page"
**User Story:**
As a Santa Monica Resident, I want to select one of the Item Cards and view more details relating to the  Santa Monica City Council Members current Item, so that I may be educated on the specific Item that the Santa Monica City Council Members are reviewing.

**Notes:**
1. Fields to have included on the Item Card details are:
- Hearing Time
- Hearing Date
- Item Card Title
- Item C

[2018-05-10 21:37] danielbaruch opened #42 "Mobile - Voting Form on the Item Card page"
**User Story:**
As a Santa Monica Resident, I want vote on the Issue presented by the Santa Monica City Council Members, so that I can voice my opinion in regards to an issue.

**Notes:**
1. Required: Voting Form fields:
- First Name
- Last Name
- Email Address (email validation to be included)
2. Optional: Voting Form fields:
- Comments (Up to 250 characters)
- Zip Code (zip code validation where

[2018-05-11 01:15] eselkin commented on #42
Branch add-form

Pro/Con is part of 6
Email is validated on the form.
Zip is somewhat validated (to valid US zip codes)
The form will show a prominent pro/con banner on the top of the form.
Captcha is being used now

[2018-05-11 04:47] EzDesigns commented on #41
We have decided to lean out the design on the card features. We will only give users the ability to **View Item** for the MVP

[2018-05-11 05:16] EzDesigns commented on #40
![mvp item card](https://user-images.githubusercontent.com/30360266/39907789-b715a064-549f-11e8-8eb0-4fa9641cf4e3.png)

[2018-05-11 06:45] dorachan2000 opened #43 "Create a React Component with a Facebook share button to share agenda"
**Background:**
Within the feed, there is a button that allows user to share a specific agenda. (Refer to screenshot attached)

**Notes:**
Refer to Facebook's documentation for implementation details
https://developers.facebook.com/docs/plugins/share-button

**Requirement**
1. Clicking a button opens a facebook share window
2. The React component will take in a link of the agenda as an input prop

[2018-05-11 07:46] dorachan2000 commented on #41
@EzDesigns @danielbaruch When you change designs and specs, can you let others know and update the mocks in zeplin?

[2018-05-11 07:48] dorachan2000 commented on #43
spec changed. There will be no sharing feature for now

[2018-05-11 07:48] #43 closed

[2018-05-13 21:21] #40 closed, assigned to Meniefield, evalineBai

[2018-05-13 21:32] evalineBai opened #49 "Reorder agenda items by Hearing Date"

[2018-05-13 21:43] evalineBai opened #51 "Set up client-side linting"

[2018-05-13 21:52] evalineBai opened #52 "Remove rounded corners for header/footer"

[2018-05-14 00:48] eselkin opened #54 "Master AgendaItem cards"
Distorted cards after clicking from feed on mobile:

<img width="376" alt="distorted_cards" src="https://user-images.githubusercontent.com/5606931/39973538-c1eafede-56d5-11e8-8c09-3d0bc5922a59.png">

[2018-05-14 01:59] dorachan2000 commented on #54
@EzDesigns will update the mocks to have a mobile friendly version and then @evalineBai can adjust this screen

[2018-05-15 03:30] #37 closed

[2018-05-15 03:30] #52 closed

[2018-05-15 03:39] dorachan2000 commented on #38
@EzDesigns do we want this landing page to come after people click "Click to Engage" button on the main website?
https://engage-santa-monica.herokuapp.com/#/

[2018-05-15 03:39] dorachan2000 commented on #27
same content on #41

[2018-05-15 03:39] #27 closed

[2018-05-20 07:07] dorachan2000 commented on #49
Implemented through #55

[2018-05-20 07:07] #49 closed

[2018-05-20 07:08] dorachan2000 commented on #51
Implemented through #55

[2018-05-20 07:08] #51 closed

[2018-05-20 09:36] #54 closed

[2018-05-20 09:36] #38 closed

[2018-05-20 09:37] dorachan2000 commented on #38
implemented with #56

[2018-05-22 02:20] heyheidi opened #57 "Web App - Change green header bar to blue"
Change the green header bar to blue

[2018-05-22 02:42] dorachan2000 opened #58 "Dynamically load more agendas in the feed page"
Background:
Currently, the feed page only hits the following API endpoint once and loads the initial batch of agendas.
https://council-tag.herokuapp.com/api/agendas/

We should use the pagination endpoint provided in the API endpoint such as,
https://council-tag.herokuapp.com/api/agendas/?limit=2&offset=2

Requirement
- At the bottom of the feed, create a "Load More" button
- Once you click the "L

[2018-05-22 03:02] evalineBai opened #59 "Redesign Landing Page"

[2018-05-22 09:22] evalineBai commented on #59
<img width="1181" alt="screen shot 2018-05-22 at 2 20 37 am" src="https://user-images.githubusercontent.com/31295323/40353643-d45c9b62-5d66-11e8-94e7-7e10654eaf75.png">

<img width="1179" alt="screen shot 2018-05-22 at 2 20 59 am" src="https://user-images.githubusercontent.com/31295323/40353659-ddce366a-5d66-11e8-8b9d-abee4e391a3e.png">

[2018-05-22 09:28] evalineBai commented on #59
Actually changed the wording on that paragraph as well, not reflected in the screenshot

[2018-05-22 16:54] heyheidi opened #61 "Web App - Make the landing page slide on mobile view"
User Story:

As a user, I want the ability to scroll the web page effortlessly so that I minimize the number of upward swiping motions I have to make in order to navigate the page.

[2018-05-22 16:55] adamcee commented on #41
FYI @danielbaruch @EzDesigns @dorachan2000 I just played with the live demo and some sort of back/cancel button is needed when viewing an individual item so if the user wants they can return to the feed without doing anything. Since the feature is, in terms of behavior, very small and self, contained, I’m going to create a different Issue for it and link to it in this main one. That way someone ca

[2018-05-22 17:00] adamcee opened #62 "Back/Cancel button for Item Detail Card"
Add a “cancel” or “back” button to the Item Detail Card (see #41 for the parent/master feature which this is a sub feature for) which will close the card and return the user to their previous screen (the Items Feed).

Use Case:

The user clicks on an item in the Feed to view details for it. They look at the item Detail Card, change their mind, or realize its not what they were looking for, and wan

[2018-05-22 17:31] adamcee opened #63 "When viewing Item Detail Card, browser "back" button does not behave as expected"
when viewing the item detail card, pressing the back button does not take the user back to the feed. As the URL changes when viewing an item detail card (an id query param is added to it with the id of the card in question), and as clicking the back button does change the URL, it should also mimic the behavior of taking the user back to the previous "screen" (i.e. the feed).

To Reproduce:
1. Open

[2018-05-25 01:42] JerryLeeCS commented on #58
I am thinking about storing NEXT in Redux state, and use it in action creator. I am not sure if it's a good approach.

[2018-05-25 04:48] JerryLeeCS commented on #58
API has a problem with endpoint "/" that would return same url in next.
For example
With API call
`https://council-tag.herokuapp.com/api/agendas/?limit=2&offset=2 `
returns
`"next": "https://council-tag.herokuapp.com/api/agendas/?limit=2&offset=4"`
But with API call from async.js
`https://council-tag.herokuapp.com/api/agendas/?limit=2&offset=2/ `(With an extra / at the end of URL)
returns with
`"n

[2018-05-25 21:05] #58 closed

[2018-06-02 23:56] #59 closed

[2018-06-03 00:21] dorachan2000 commented on #61
solved with #68

[2018-06-03 00:21] #61 closed

[2018-06-03 00:22] dorachan2000 commented on #57
implemented with #60

[2018-06-03 00:22] #57 closed

[2018-06-19 03:34] ricokareem opened #70 "spike : email verification"
to encourage passive engagement, research how we can do some sort of automatic, low-level, sanity-checking of email addresses.  possibly removing the need for the user to respond to a verification email.

1. format `username@domain.com` is valid
2. lookup `domain.com` does not come back as NSDOMAIN
3. SMTP response.

[2018-06-19 03:41] ricokareem commented on #70
moving this issue to API

[2018-06-19 03:41] #70 closed

[2018-06-20 00:39] owenjoseph commented on #63
Hey @adamcee, is this a product of the feed item being presented as a popup modal? Right now a user has to click on the "x" to close. I'm not sure this is the best flow.

@dorachan2000 I feel strongly this should be changed from a modal to a full navigation page, but I heard your concerns last night and agree we need to mockup a full user flow before committing to any big changes like that.

[2018-06-20 00:41] owenjoseph commented on #3
@dorachan2000 can this be closed?

[2018-06-20 00:54] owenjoseph commented on #28
@eselkin there was a suggestion last night to add a "no position" vote option to this feedback form. Some constituents might not have a clear pro/con stance on a given proposal, but instead may just want to offer suggestions to clarify or add to the recommended action.

Also, is this data going anywhere at the moment?

[2018-06-20 00:59] owenjoseph commented on #28
@EzDesigns hey Eric, is this attached mockup intended for the Android app?

[2018-06-20 02:48] TeddyCr opened #71 "Clicking on agenda item should redirect to its own page with (vs layover currently)"
The feed workflow creates a layover when an agenda item is clicked. This needs to be converted to have the agenda item open its own page where the title, the summary, the recommended action, the form to comment and the buttons to vote will be present.

see flowchart: https://drive.google.com/open?id=1AMAM6kQbJwRsrdQ3kzUalWkAmooO5Jeq

see mocks: https://projects.invisionapp.com/share/NBLKJ4AZ82Q#/3

[2018-06-20 02:54] TeddyCr opened #72 ""For", "against", "Don't understand" buttons need to be added to the feed item boxes"
3 buttons need to be added to the item box in the feed ("For", "against", "Don't understand") allowing to tally the votes for each issue (regardless a comment was posted on the issue or not). The number of comments should also be displayed.

Ideally, if a user hits a button, she/he should be suggested learn more about the issue and submit a comment

[2018-06-20 02:58] TeddyCr opened #73 "Update agenda feed page based on last mock-up"
The agenda items feed design needs to be updated to match the most recent mocks: https://projects.invisionapp.com/share/NBLKJ4AZ82Q#/304303934_Homepage__-_XLG_-_Default_

-- User should be able to see a list of upcoming agenda items sorted by Datetime Ascending

-- Note...the mockup  shows "saved" and "suggested"....ignore for now and do not add those parts.

[2018-06-20 04:14] dorachan2000 commented on #3
@owenjoseph this was a ticket to create a tutorial page to describe how city council works and how people can participate either directly at the meeting or through engage. It's valuable for people who aren't familiar with the process so I would recommend leaving it open.

[2018-06-20 04:17] dorachan2000 commented on #63
@owenjoseph yes removing modal window should involve ux decision and more people.

[2018-06-20 06:31] owenjoseph commented on #3
Ahh, gotcha. So we need some copy. I'll work on this.

[2018-06-21 19:58] eselkin commented on #28
@owenjoseph I asked about that mockup and whether the form should be attached to agenda item or not. Nobody got back to me on that... It seems odd to have it attached, but not so odd. I can add a no-position to the form... I can change the boolean in the database to an integer and make more than 3 options if needed.

[2018-06-21 20:01] eselkin commented on #21
We didn't stop. We just don't prioritize it and it's not in the MVP.

[2018-06-21 20:03] eselkin commented on #72
This should have been added as well to the backend repo as an issue. @TeddyCr, you want to add it or should I? Currently there's no way to get a total tally, but I can make one.

[2018-06-22 17:57] owenjoseph commented on #28
@eselkin I'm convinced a three-position option is the way to go for the MVP, even if I'm still not settled on exact language for the third option:

1. Pro
2. Con
3. either "Need More Info" or "Comment only (no position)"

Does the new clickthrough from Emil Wing clarify the other point about which point in the flow is a modal and which is a page?

[2018-06-26 20:13] iamemilywing opened #74 "User should not be allowed to comment on agenda Items after 11:59 AM PST on the day of the meeting"
- User should see "Commenting is Closed for This Issue"

[2018-06-26 20:17] iamemilywing opened #75 "User should see a confirmation page when verifying email"
When user receives a confirmation link, he/she should click through and see a confirmation page that tells them the email is confirmed.

This page should link back to the agenda feed.

Mockup:
https://invis.io/5DLW79JVQ7U#/304921726_Email_Confirmation__-_XLG_-_Default_

link to video of flow
https://www.youtube.com/watch?v=crD0EXfXYjc&feature=youtu.be

[2018-06-26 20:25] iamemilywing opened #76 "User should be directed to a popup requesting them to check email for confirmation link if submitting with an unverified email"
And "unverified" email is one that has not been confirmed to belong to the submitter.

Mockups here
https://invis.io/SRLW8AEX2QC#/304662123_Modals_-_Comment_Step_3_Confirmation_Unverified

[2018-06-26 20:29] iamemilywing opened #77 "User should be directed to confirm their submission of a Position"
After submitting the Register Position Form, User should see a popup where he/she is asked to confirm data before submitting.

link to mockups
https://invis.io/98LW8TOGFKA#/304662124_Modals_-_Comment_Step_2

link to video of flow
https://www.youtube.com/watch?v=crD0EXfXYjc&feature=youtu.be

[2018-06-29 00:20] owenjoseph opened #78 "User should be able to generate a share URL for each proposal."
User should see an option to create or copy a share URL when they click into each Proposal Page.

For the MVP, this URL should be suitable for sharing on any Social platform or email (platform agnostic).

Potential roadmap features would include a smart URL which offers link-back insights.

[2018-07-09 21:27] owenjoseph opened #80 "Update About and FAQ page copy."
This copy is a bit out of date.

The FAQ should more specifically serve as a "how to use engage" page.

The about section should more accurately reflect the goals of the MVP as currently defined.

[2018-07-10 02:09] owenjoseph commented on #3
@dorachan2000 could the "About" and/or "FAQ" pages be reworded to serve this purpose? The copy there is already in need of a refresh - I think the FAQ in particular could be reworded to meet the needs of a tutorial.

[2018-07-10 02:10] dorachan2000 commented on #3
@owenjoseph sure that could work

[2018-07-12 03:36] dorachan2000 commented on #75
Impelmented through #81

[2018-07-12 03:36] #75 closed

[2018-07-14 22:19] JerryLeeCS commented on #71
https://github.com/hackla-engage/engage-client/pull/84

[2018-07-17 03:06] owenjoseph opened #85 "review security vulnerabilities identified in package-lock.json."
Please review security vulnerabilities identified in **package-lock.json**.

[Link to **dependencies** page](https://github.com/hackla-engage/engage-client/network/dependencies).

[2018-07-17 08:51] eselkin commented on #85
hoek is used in live-server, not in production. The audit on it is Moderate severity.
ssri is a dependency of webpack and not problematic in production.

However, there is a critical bug in macaddress which is a dependency of css-loader, which is a production issue.

All in all npm audit: found 110 vulnerabilities (33 low, 66 moderate, 10 high, 1 critical) in 19006 scanned packages... That's a lot

[2018-07-30 21:52] Euklidian-Space commented on #74
Hello @iamemilywing .  I found this repo through Hack for LA and I would like to tackle this issue.

[2018-07-31 02:41] owenjoseph opened #89 "User should not need to sign in to comment"
This user sign-in is a remnant of an outdated MVP design.

2-part acceptance criteria:

- User should not be presented with sign-in option
- User should not have to be signed in in order to submit comments or any other data related to the proposal feedback submission

![remove-signin](https://user-images.githubusercontent.com/39287217/43434446-7eadd09a-9430-11e8-933c-057bcb45d52d.png)

[2018-07-31 05:34] eselkin commented on #89
Does that mean it's a requirement, doesn't seem to mean that.

[2018-08-02 18:13] JerryLeeCS commented on #71
The code is merged

[2018-08-02 18:13] #71 closed

[2018-08-14 03:06] owenjoseph commented on #89
I do think this removing the login flow should be a requirement for MVP launch, if that's what you mean?

[2018-08-18 22:25] eselkin opened #93 "Form - using props and action for submit"
Form will now use props so that reviewing of the form in a different component will be possible and that review page can direct the user to update the form directly without passing through the reCaptcha again if the user wants to change something before finally submitting. Also form action will have a submit options where form submission will be done.

[2018-08-20 19:30] owenjoseph commented on #89
Hey @eselkin let me know if you think I need to clarify this issue further.

[2018-08-20 21:22] owenjoseph commented on #76
Hey @allysonw is this one in progress?

[2018-08-20 21:45] eselkin commented on #89
Oh, there's no login flow for MVP, I don't think at the moment... I just think that word is there for no reason.

[2018-08-21 02:17] owenjoseph commented on #89
@eselkin gotcha; removed

[2018-08-21 03:02] owenjoseph opened #94 "Remove superfluous "body" content from AgendaItem"
AgendaItem Body should only display text from item's "Executive Summary." I.e. please replace "Body" with "Executive Summary."

[2018-08-21 19:10] allysonw commented on #76
@owenjoseph Hi there, sorry I somehow didn't see this was assigned to me at all. I have not started on it. I'll likely be taking a break from this project for a bit. Can you assign it to someone else? Thanks!

[2018-08-21 19:54] owenjoseph commented on #76
No prob, @allysonw. Thanks for you contributions!

[2018-08-23 09:55] eselkin commented on #76
Kind of done in #95

[2018-08-23 09:55] #76 closed

[2018-08-23 09:55] eselkin commented on #93
Complete in #95

[2018-08-23 09:55] #93 closed

[2018-08-23 09:56] eselkin commented on #77
complete #95

[2018-08-23 09:56] #77 closed

[2018-08-23 09:57] eselkin commented on #72
I can't remember who completed this issue, but it is done. #95 uses the number values of 0=con, 1=pro, 2=need more info and sends to the backend in that format.

[2018-08-23 09:57] #72 closed

[2018-08-23 09:58] eselkin commented on #28
Closed in #95

[2018-08-23 09:58] #28 closed

[2018-09-03 16:46] eselkin commented on #94
Handled by #99

[2018-09-03 16:46] #94 closed

[2018-09-08 22:55] owenjoseph commented on #3
Following is proposed copy for a new "How To" component.

# How to use Engage
On our main feed, you’ll see a list of all the most-recently posted Council Meeting Agenda Items from the City of Santa Monica. Each item includes a title describing the issue, and the date and time of the Council Meeting when that item will be discussed. To view an Agenda Item in more detail, click on “View Item” for th

[2018-09-10 05:35] owenjoseph commented on #3
2nd draft with images:

# How to use Engage
On our main feed, you’ll see a list of all the most-recently posted Council Meeting Agenda Items from the City of Santa Monica. Each item includes a title describing the issue, and the date and time of the Council Meeting when that item will be discussed. To view an Agenda Item in more detail, click on “View Item” for that Agenda Item.

![engage_howto_im

[2018-09-11 02:36] #89 closed

[2018-09-11 02:37] #80 closed

[2018-09-11 02:37] owenjoseph commented on #73
This is essentially solved.

[2018-09-11 02:37] #73 closed

[2018-09-11 02:38] #3 closed

[2018-09-14 08:22] eselkin opened #104 "move reCaptcha from before form to on-submission"

[2018-09-15 20:24] TeddyCr opened #106 "Update Website Mockup to include date section for the feed page"
The feed page should include a date section to ease the user flow while scrolling through items. Current mockups can be find [here](https://projects.invisionapp.com/share/SXLOB9IJQ4K#/screens/304303934).

---
To get login information reach out to @owenjoseph or @TeddyCr

[2018-09-15 20:25] TeddyCr opened #107 "Add a Date Section/Title Grouping Agenda Items per Dates on /feed"
The agenda items should be grouped under a date section/title to ease user navigation. Refer to #106 for mockup.

[2018-09-15 20:26] TeddyCr opened #108 "Limit Agenda Item Display to Most Recent Date on /feed Load"
The feed page should only display the most recent agenda items on load. The Load More button at the bottom of the page will remain. When clicking on it, users should be able to load previous agenda items.

[2018-09-15 20:33] TeddyCr commented on #78
Facebook shared link needs to be fixed as it does not currently lead to anything. Refer to PR #90.

[2018-09-15 20:36] TeddyCr commented on #24
Code of contribution can be find here -> https://github.com/hackla-engage/Getting-Started-With-Engage/wiki/2.-Code-of-Contribution

[2018-09-15 20:36] #24 closed

[2018-09-16 21:37] TeddyCr commented on #106
When updating the mockup, we should also remove the "filed under" section as this is not something we currently want to support.

[2018-09-17 02:44] #104 closed

[2018-09-17 21:43] owenjoseph commented on #78
unassigning this for pickup

[2018-09-17 22:28] owenjoseph opened #110 "Update Button Copy along submission flow; standardize Position language"
### In Feed
**"View Item"** should be **"View Item Details"**

<img width="213" alt="screen shot 2018-09-17 at 3 11 40 pm" src="https://user-images.githubusercontent.com/39287217/45653309-5e97e200-ba8c-11e8-957c-f5e8f4884c48.png">

### On position page
**"Approve"** should be **"Agree"**
**"Decline"** should be **"Disagree"**

<img width="1130" alt="screen shot 2018-09-17 at 3 12 50 pm" src="https

[2018-09-17 22:36] owenjoseph opened #111 ""Captcha" should be on same step / page as final "Submit" button in submission flow"
From a user POV, captcha appears on a separate screen (or step, if you like) from the final submit button in the submission flow:

**Screen 1**
<img width="1170" alt="screen shot 2018-09-17 at 3 19 03 pm" src="https://user-images.githubusercontent.com/39287217/45653928-8425eb00-ba8e-11e8-9c01-1a1a6bdebfe7.png">

**Screen 2**
<img width="609" alt="screen shot 2018-09-17 at 3 19 25 pm" src="https://

[2018-09-20 23:53] owenjoseph commented on #85
@dorachan2000 should I unassign this and throw it in the "help wanted" bin? also, how critical is it to address these before a public beta?

[2018-09-24 18:22] owenjoseph opened #114 "Install HotJar"
HotJar is a UI heatmap tracker/generator. We'd like to install it on sm.engage.town

More about HotJar: https://www.hotjar.com/tour

I've already created an account / tag for Engage - here's the code snippet for the tag:

[code]

There's also this regarding installing for react via npm: https://www.npmjs.com/package/react-hotjar

[2018-09-25 12:45] TeddyCr opened #116 "Add a Link to the Detailed Page of Agenda Item on Council Website"
Need to generate URL as shown below. Need to get meeting_id + agenda_id.

http://santamonicacityca.iqm2.com/Citizens/Detail_LegiFile.aspx?Frame=&MeetingID=<MEETING ID>&MediaPosition=&ID=<AGENDA ID>&CssClass=

[2018-09-25 12:47] TeddyCr commented on #116
@eselkin do you know which endpoint the Heroku app + Local host version of engage.town pull data from for the feed? It loads and never populates the agenda items for me.

https://engage-santa-monica.herokuapp.com/#/feed

[2018-09-27 04:14] TeddyCr commented on #116
@dorachan2000 are you able to help solve the issue?

[2018-10-01 19:27] #114 closed

[2018-10-01 19:44] owenjoseph commented on #108
@TeddyCr there's a chance the city may post more than one meeting's agenda items, in which case the next upcoming dates – which would be the most relevant – would end up falling below the "load more" button. What are your thoughts on removing the MVP tag from this one? It's not really "breaking" the functionality right now.

[2018-10-09 03:35] kayteecannon opened #125 "Remove "<strong>" and "</strong>" from How To Step 3"
https://sm.engage.town/#/howto

[2018-10-09 03:42] kayteecannon opened #126 "Bug: Item details page does not load at top of page"
Item details page does not load at top of page when user selects an issue after scrolling down  1. Scroll down page to select issue not already on screen on initial load. 2. Click on the issue. 3. The page does not load with the scroll bar at the top of the item details page.

[2018-10-09 03:44] hungrymonkey commented on #126
https://stackoverflow.com/questions/33188994/scroll-to-the-top-of-the-page-after-render-in-react-js

[code]

[2018-10-09 23:45] owenjoseph opened #127 "Add more prominent link to "HowTo" component from Splash page"
Currently our splash page has one prominent link, which routes to our main feed:

![splash-page-current](https://user-images.githubusercontent.com/39287217/46704878-dc5d9200-cbe1-11e8-9439-d1106cfd3c27.png)

We'd like to add a prominent call to action targeted at new users of the site, directing them to the 'HowTo' component:

![splash-page-add-button](https://user-images.githubusercontent.com/392

[2018-10-09 23:51] jbmills327 commented on #127
I'd like to take a crack at this if that's ok.

[2018-10-10 06:30] altaf933 commented on #63
I don't see any feeds , modal keep loading but no any response. Is something doing wrong with api ?

[2018-10-16 17:28] owenjoseph commented on #127
Hey @jbmills327 yeah go for it. Thanks!

[2018-10-18 00:21] owenjoseph opened #129 "Accessibility Review needed"
## Open Request
Are you familiar with [WAI-ARIA](https://www.w3.org/TR/wai-aria-practices/) best-practices? Have you always wanted a reason to learn them? Engage needs an Accessibility Review!

The deliverable for this issue will be a report which covers:
- What is working
- What is **NOT** working
- Suggested enhancements (which we could then turn into more repo issues!)

The report can either be

[2018-11-06 17:54] vzcode commented on #107
Hi there @TeddyCr - on this ticket, from what I see on local, the items are already chronologically set (most recent first), and the mock https://projects.invisionapp.com/share/SXLOB9IJQ4K#/screens/304303934 also shows each agenda item listed most recent first.

Is this issue to style the /feed page to look like the mock? Or is there another mock that groups all agenda items for 10/23 (for instanc

[2018-11-07 17:21] TeddyCr commented on #107
@vzcode the idea is to add a title section that would group the agenda items with the same date together. Unfortunately I don't have an  updated mock but it would look something like that

**10/23/2018 - 5:30PM**
---------------------------

+---------------------------------------+
|                                  Meeting date    |
|                                  10/23/2018       |
|

[2018-11-07 17:22] TeddyCr commented on #108
Make sense. I am gonna label it as backlog for now. We can come back to it later and think of a solution for what you mentioned.

[2018-11-08 03:11] vzcode commented on #107
Ah awesome - this itself is super helpful, thanks @TeddyCr. I'll be looking into this tomorrow and seeing what I can do.

[2018-11-08 23:17] vzcode commented on #107
Hi @TeddyCr this is where I have it thus far as a screenshot - please let me know what your thoughts are (until I have the ability to push up a branch)
![screenshot 2018-11-08 15 15 05](https://user-images.githubusercontent.com/362589/48233237-5318b700-e369-11e8-81b7-cb1ca4b5eafa.png)

[2018-11-27 04:44] owenjoseph opened #172 "Update scrape to exclude "Special Agenda Items""
Currently the Feed is displaying, with priority, items from
 **"2.	SPECIAL AGENDA ITEMS"**
These items are not suitable for feedback, and are typically contentless:

![screen shot 2018-11-26 at 8 15 29 pm](https://user-images.githubusercontent.com/39287217/49059081-f8ca8380-f1bb-11e8-997f-a941f25031e2.png)

![screen shot 2018-11-26 at 8 15 40 pm](https://user-images.githubusercontent.com/39287217/

[2018-12-04 00:54] owenjoseph opened #135 "User should see alt Splash Text when no active issues are available"
## Description
When there are no active issues on the Engage feed – i.e. all displayed Agenda Items are for meetings which have already occurred – users should be presented with:
- An explanation of why voting will be closed for all displayed agenda items, and
- Option(s) to subscribe to various services that will update them when new agenda items are scraped

## Acceptance Criteria
- When all age

[2018-12-04 03:47] TeddyCr commented on #126
@hungrymonkey was that ever solved?

[2018-12-04 03:48] #125 closed

[2018-12-04 03:50] TeddyCr commented on #107
@vzcode have you ever checked the revision request on the PR?

[2018-12-10 19:59] owenjoseph opened #137 "User should be able to download PDF copy of Report once generated"
When the feedback period is closed, website users should be able to view the report we generate for each agenda item.

Right now we generate one report for all agendaItems for a given meeting date. Once this report is generated, we should display a link to download a PDF of the report on the agendaItem components AND the main feed.

Since there will be a time between the closing of feedback and th

[2018-12-11 17:52] TeddyCr commented on #107
removing @vzcode from owner of this issue as he has not been responsive.

[2019-01-08 21:17] owenjoseph opened #140 "Add badge to follow @EngageStaMonica in header or footer"

[2019-01-08 21:17] owenjoseph opened #141 "Add Mailchimp signup form to landing page"
Signup for code snippet from Mailchimp:

[code]

Should be added to Landing Page, right-hand side:

![landing-page-signup-form_laptop](https://user-images.githubusercontent.com/39287217/51137986-d553aa80-17f4-11e9-96fc-f1ba98898160.png)

For mobile, should flow as block element below main content:

![landing-page-signup-form_mobile](https://user-images.githubusercontent.com/39287217/51138038-f1efe

[2019-01-19 20:20] owenjoseph opened #144 "Improvements to Landing Page - change background image, add some helpful copy"
As a new Engage user, I'd like to learn more from the Engage landing page before I continue on to the feed.

- There is a potential here to do more than tell a visitor to "start Engaging"; some contextualizing copy would be helpful, e.g.: a mission-statement or elevator pitch
- The background image (stock) doesn't communicate anything about the purpose of the site or the locality

Action Items:
-

[2019-01-19 20:42] owenjoseph opened #146 "Improved date/time headers for items in feed"
The meeting date and time information on each card could use some help - it's hard to see, redundant (now that we are categorizing items with a meeting date/time header) and oddly placed.

Action items:
- need a mock-up of an improved layout

[2019-01-19 20:49] owenjoseph opened #147 "AgendaItem view - needs better organization of interactive elements, links"
Per UI/UX review, the two links at the bottom of each AgendaItem ("more details" and "return to feed") are not obvious links:

![agendaitem_links](https://user-images.githubusercontent.com/39287217/51432219-c734ce00-1be8-11e9-9cba-23ff1083debd.png)

Action Items:
- need a mockup for a proposed new layout / styling

[2019-01-19 20:52] owenjoseph opened #148 "Improvements to HowTo page - bad copy and styling!"
Per UI/UX review:

-    “What’s your position” options doesn’t match what’s in the paragraph above that
-    Underneath the “Position” picture, there is some code that hasn’t worked and is in the copy
-    “Tell us a little about yourself” picture doesn’t match the description above because that says “agree” rather than the actual copy
-    The instructions should be a different font than the scre

[2019-01-29 04:30] owenjoseph commented on #78
This issue is satisfied by #139

[2019-01-29 04:30] #78 closed

[2019-01-30 21:52] hungrymonkey opened #152 "Change much -> must Readme"
https://github.com/hackla-engage/engage-client/blob/staging/README.md

In contributing, documentation is wrong

should be

Steps to fix
Fork engage-client/staging
[code]
Fix the Read me
[code]
Commit fix to your repository
[code]
Send pr request to review.
[code]
Please link pull request to this issue so it might automatically close

[2019-02-05 05:51] TeddyCr commented on #137
This task is dependent on [#154](https://github.com/hackla-engage/engage-backend/issues/154) in the backend repo.

The download button should reference a Django link referencing the latest PDF in the static folder.

[2019-03-25 19:57] owenjoseph opened #159 "Add "Return to Feed" button/link to top of Agenda Item"
There is already a (small) link at the bottom of the Agenda Items back to the feed, but we've decided we need one at the top of the page to increase visibility. Something here:

![return_to_feed](https://user-images.githubusercontent.com/39287217/54949865-3dadbf00-4efd-11e9-91f1-d4e197cb45c4.png)

[2019-03-26 03:40] TicoGitHubII commented on #127
Is there any update on this issue is it still open?

[2019-03-26 23:33] ndrwmp commented on #127
Ah, no. I ended up joining the heart app so I never got to this. Still open.

[2019-03-29 00:05] joshbeme commented on #135
Is there a way to find the next date for city council meetings through the api or should I leave it as "DAY-MONTH-YEAR-TIME" for now? It seems that the agendas endpoint only gives agendas to March 26th 2019.

[2019-03-30 02:23] joshbeme commented on #135
Is the forms action suppose to link to the hack for la news letter?

[2019-03-30 02:28] joshbeme commented on #135
![no-active-issuees](https://user-images.githubusercontent.com/38735622/55270095-269e0280-5258-11e9-9539-16cf83c42a14.png)
 This is what I have so far for this. I was wondering if I needed to add recaptcha to it?

[2019-03-30 02:46] joshbeme commented on #126
I was able to fix this.

[2019-03-30 02:59] joshbeme commented on #159
added button with hover animation
before hover:
![back-button-before](https://user-images.githubusercontent.com/38735622/55270511-b3e35600-525c-11e9-85dd-550963eb728e.png)

after hover:
![back-button-after](https://user-images.githubusercontent.com/38735622/55270521-c78ebc80-525c-11e9-90da-0d8718a5408f.png)

[2019-03-30 17:22] owenjoseph commented on #135
@joshbeme I'm ok with leaving recaptcha out of scope for now and adding later if needed.

The forms action shouldn't link to the Hack for L.A. newsletter; it should link to the Engage Mailchimp signup. It's weird, I thought I copied the embed code above directly from the Engage mailchip account. . . let me double check that.

If there's no way to get upcoming meeting dates from the API endpoint cu

[2019-03-30 17:27] owenjoseph commented on #135
@joshbeme yeah that link in the form is correct:

https://hackforla.us19.list-manage.com/subscribe/post?u=2885093b7df42c79d628f7267&amp;id=6ca892a88b

I originally signed up for our account using "Hack for L.A." as our organization name; looks like MC uses that field to generate the signup subdomain in the URL. We'll keep it that way for now.

[2019-03-30 17:29] owenjoseph commented on #159
@joshbeme I like it!

[2019-04-03 01:45] TicoGitHubII commented on #127
ok thanks

[2019-04-04 04:39] owenjoseph commented on #127
Hey @TicoGitHubII thanks for investigating this. Let me know if you have any questions.

[2019-04-09 14:11] paulgeronca opened #163 "Landing Page background should link to uploaded file instead of external URL"
The main background image on the landing page should link to /static/image file instead of the external tiny URL at https://source.unsplash.com/VLDDaRX04GM since that will break whenever it gets updated by Unsplash

[2019-04-12 06:38] TeddyCr commented on #141
This is completed, I just need to resolve code conflict with Joshua's latest PR in staging.

[2019-04-12 06:38] TeddyCr commented on #141
Also, I worked on a slight LP redesign + footer and header. Let me know your thoughts
![Screen Shot 2019-04-11 at 11 34 59 PM](https://user-images.githubusercontent.com/13626425/56017027-ef494000-5cb2-11e9-88aa-ddfb895e7f73.png)
![Screen Shot 2019-04-11 at 11 35 09 PM](https://user-images.githubusercontent.com/13626425/56017029-f1ab9a00-5cb2-11e9-9e68-873cb4309862.png)

[2019-04-16 02:10] joshbeme opened #166 "Mailchimp signup enhancement"
Combining both styles of mailchimp signup form to be in single component. #135 #141

[2019-04-18 14:42] paulgeronca commented on #163
Fixed with [ISSUE #141 + LP Redesign #165]( https://github.com/hackla-engage/engage-client/pull/165)

[2019-04-18 14:42] #163 closed

[2019-04-19 19:26] TicoGitHubII commented on #127
I'm in the process of requesting a pull for this issue

[2019-04-23 02:40] TicoGitHubII commented on #127
@owenjoseph
let me know what you link on the changes

[2019-04-23 03:39] TicoGitHubII commented on #137
@owenjoseph
Owen, so are the closed agenda items with recommendation on them already generated  in the backend?
so they just need to be linked to the  agenda item?
Thx

[2019-04-23 21:11] TeddyCr commented on #137
@TicoGitHubII welcome to the project.

There is a dependence with a backend issue on this client issue. @joshbeme has done some work on this issue already, he is waiting for the backend fix to be completed. :)

[2019-04-27 00:19] #166 closed

[2019-04-29 19:50] owenjoseph commented on #63
I'm closing this – new site flow and design have solved this issue.

[2019-04-29 19:50] #63 closed

[2019-04-29 23:26] owenjoseph commented on #159
This is live on smstaging.engage.town; will close this when it's live on master.

[2019-04-29 23:33] owenjoseph commented on #106
@TeddyCr can this be closed? Matina has provided a new working prototype (needs to be added to the Product Wiki)

https://www.figma.com/proto/WF9WwFRo32unFwXuPh4kEP7U/Mobile?node-id=10%3A7&viewport=-1319%2C-218%2C0.5&scaling=fit-width&redirected=1

[2019-04-29 23:36] owenjoseph commented on #42
@eliselkin can this issue be closed? Seems stale and/or satisfied.

[2019-04-29 23:39] owenjoseph commented on #107
@TeddyCr This looks to be merged with both staging and prod already. Closing.

[2019-04-29 23:39] #107 closed

[2019-04-29 23:41] #42 closed

[2019-04-29 23:42] owenjoseph commented on #135
@joshbeme since adding the date/time for the upcoming meeting would require building a new scraper, I'm going to remove that from the AC for this issue. Since everything else has been merged with staging, I'm moving this to the Staging column.

[2019-04-30 01:37] #106 closed

[2019-05-07 02:05] owenjoseph opened #170 "Null agendaItems should display a default message"
Users should not see empty agendaItems when they click to see more details.

E.g.:
![Screen Shot 2019-05-06 at 7 02 11 PM](https://user-images.githubusercontent.com/39287217/57266643-ba21da80-7031-11e9-9b98-2ecec06901d1.png)

The city website version of which looks like:
![Screen Shot 2019-05-06 at 7 02 21 PM](https://user-images.githubusercontent.com/39287217/57266647-c017bb80-7031-11e9-9869-205d

[2019-05-07 03:19] owenjoseph opened #171 "Remove character limit from "comment" field in agenda feedback form"
User should be able to type as many words as they need to get their point across. Additionally, the city considers a character limit to be a 1st amendment infringement(!).

![Screenshot_5_6_19__7_56_PM](https://user-images.githubusercontent.com/39287217/57269404-2acdf480-703c-11e9-89cc-9b7331dfd2dc.png)

Acceptance criteria - no (practical) limit to text entry.

[2019-05-07 05:25] eselkin commented on #171
The practical limit may be the type we have in the backend. I'll check.

[2019-05-07 15:39] TeddyCr commented on #172
@eliselkin, sound good. This has been transferred to the frontend repo.

[2019-05-08 02:05] eselkin commented on #171
So yes, we have a problem, the DB is using a constrained character type (VARCHAR(254))... We'll have to bring the DB down to change this.

[2019-05-09 02:41] TeddyCr commented on #170
@owenjoseph, I don't think it should not be rendered. I think a default text should be added instead (i.e. "The city has not provided any executive summary/recommendations for this agenda item. Though, you can still vote and comment on this issue."), something along these lines.

It will still addressed during the meeting, in my opinion I think it should still appear on the site.

[2019-05-09 02:52] TeddyCr opened #173 "Comment Submission Page Funnel Should Have Their Own URL"
## Context
When you go through the comment submission process right now, the page url are:
1. ./#/feed/{agend_id} -> description of the agenda
2. /#/form/ -> vote/comment
3. /#/form/ -> review submission
4. /#/form/ -> confirmation

This makes GA tracking for comment submission complicated as we can't look at page goal completion based on URL.

## Proposed solution
item 2-4 should be changed to ha

[2019-06-07 20:56] TeddyCr opened #175 "Merge Staging To Master"
@joshbeme / @eliselkin  could we merge staging into master? The staging version is many enhancements ahead of prod. It would be good to release these new features and design updates.

[2019-06-08 01:40] eselkin commented on #175
I have no problem with it. I was deferring to @owenjoseph, but I think it would be good to merge unless there's a test going on.

[2019-06-08 04:39] TeddyCr commented on #175
Thanks @eselkin for merging this. Thank you very much @joshbeme for all the work on the front end so far.

You are definitely making a difference in advancing the development of the frontend.

[2019-06-08 04:39] #175 closed

[2019-06-09 09:35] #172 closed

[2019-06-09 09:35] #141 closed

[2019-06-09 09:35] #159 closed

[2019-06-09 09:37] #126 closed

[2019-06-09 09:38] #135 closed

[2019-06-25 01:17] TicoGitHubII commented on #171
has anyone worked on this ?

[2019-06-30 17:03] #21 closed

[2019-06-30 17:03] #36 closed

[2019-06-30 17:03] #41 closed

[2019-06-30 17:06] TeddyCr commented on #144
Addressed in #169

[2019-06-30 17:06] #144 closed

[2019-06-30 17:09] TeddyCr commented on #152
PR #162

[2019-06-30 17:09] #152 closed

[2019-06-30 17:20] TeddyCr opened #178 "Create mocks of a search functionality"
### Context
Engage is working on developing a search functionality to improve the UI experience of its user. As we are working on the backend set up, we need to develop mocks of the search functionality on the client side, to allow frontend development

### Links
Example of sites with interesting search functionality:
- https://www.boston.gov/
- https://swiftype.com/
- https://techcrunch.com
- htt

[2019-07-01 20:59] owenjoseph commented on #171
Hey @TicoGitHubII I think this one is still in need of help. Please coordinate with @eliselkin if you have the bandwidth to tackle this this week. . . if it's going to require site downtime It would be good to work around our active issues window (e.g., next meeting is Tuesday, July 9th: moratorium on downtime should be between Friday, July 5th and the 9th).

[2019-07-01 21:06] owenjoseph commented on #170
@TeddyCr I think this was actually solved? If you look at what was scraped for June 25th, the first item from the city's agenda is "SMTT FY19-20 Work Plan and Budget", which is Item 3c from the agenda.

This is appropriate because it's the first item with a recommended action.

[2019-07-01 21:10] #170 closed

[2019-07-01 21:11] owenjoseph commented on #148
This item is open for design suggestions!

[2019-07-01 21:12] owenjoseph commented on #147
Closing this, as a new design has been implemented by @joshbeme

[2019-07-01 21:12] #147 closed

[2019-07-01 22:42] eselkin commented on #171
The backend has removed the character limit, it is now a textfield with no text limit.

[2019-07-01 22:49] owenjoseph commented on #127
Found the commit with @TicoGitHubII's button add - going to work on reincorporating this into Landing.jsx tonight / this week if I don't get to it.

[2019-07-04 01:23] eselkin commented on #171
July 9th meeting was cancelled

[2019-07-06 23:23] eselkin opened #179 "Space issue on mobile when no current agenda items"
There are no active issues available for public feedback at this time.
[ WAY TOO MUCH SPACE ]
Get notified when new issues are posted:
...

[2019-07-07 00:06] joshbeme commented on #179
My bad I'll fix this.

[2019-07-15 21:50] owenjoseph commented on #137
@eliselkin you created a new API endpoint to serve this feature, yes? I think this development is no longer blocked.

[2019-07-16 00:07] owenjoseph opened #180 "Landing Page Redesign"
There's a LOT of content on the landing page, but very little of it is serving our users. Not least of which is the current call to action: "Start Engaging." It doesn't describe what's actually happening on the feed.

We need to address a few things:

- [ ] better language for the call to action
- [ ] a better explanation of what the app is actually doing
- [ ] an explicit privacy statement
- [ ]

[2019-07-16 00:12] owenjoseph opened #181 "User should see greyed-out issues after they have voted on them."
Once a user completes the submission flow for a given issue, when they navigate back to the feed that issue card should display a greyed out background instead of the current all-white background.

[2019-07-16 06:20] eselkin commented on #137
@joshbeme is working on this.

[2019-07-19 05:30] eselkin commented on #181
Are we going to keep sessions or just store it in redux?

[2019-07-19 05:45] joshbeme commented on #181
We can use local storage to store what agendas have been voted on.

[2019-07-29 18:14] owenjoseph opened #182 "Submission flow success should bring user back to the feed instead of the "email submission confirmation" page."
### Overview
Currently, the end of the feedback flow brings the user to a page that says to check their email for confirmation. Getting back to the feed is not obvious.

Instead, successfully submitting feedback on an AgendaItem should bring the user immediately back to the feed where a pop-up should tell them to check their email for verification.

### Mockups

[2019-07-29 20:57] owenjoseph opened #183 "User should be able to filter agendaItems on Feed by Department"
### Overview
Users have been requesting some way of filtering the content we display on the feed. The most immediately-achievable version of this would be to filter by department, since that is information we are already being provided by the city.

[2019-08-06 02:14] #137 closed

[2019-08-06 02:14] #173 closed

[2019-08-06 02:14] TeddyCr commented on #173
PR #184

[2019-08-06 02:14] TeddyCr commented on #179
PR #184

[2019-08-06 02:14] #179 closed

[2019-08-06 02:15] TeddyCr commented on #137
PR #184

[2019-08-13 03:00] owenjoseph opened #185 "Landing Page Adjustments - Call To Action Button (and remove from Menu)"
The landing page Call To Action language is confusing! See adjustments below:

![landing-page_CTA_fixes](https://user-images.githubusercontent.com/39287217/62912194-eee1b400-bd3b-11e9-87fa-37ade408acda.png)

[2019-10-15 02:26] #185 closed

[2019-11-15 18:51] ldaws003 commented on #182
Hi, I'm interested in helping with this. How do I assign this to myself, and place it into In Progress?

[2019-11-15 19:46] ldaws003 commented on #171
Is this issue still open?

[2019-11-16 01:31] eselkin commented on #171
Let me check...

[2019-11-17 00:19] eselkin commented on #171
Yeah it's still there in staging: https://github.com/hackla-engage/engage-client/blob/c3b048407fcd6cf1703b22e9bc3f424680c74f40/src/component/CommentForm.jsx#L337

[2019-11-17 06:18] ldaws003 commented on #171
Alright, thanks. I'll work on it as soon as I can. Also I noticed that there was a way to assign yourself tasks on the to do list in the project section on the engage github. How do I assign a task to myself?

[2019-11-18 18:41] eselkin commented on #171
@ldaws003 completed this in #190

[2019-11-18 18:41] #171 closed

[2019-11-19 02:07] ldaws003 commented on #181
Is it alright that I work on this?

[2019-12-03 03:46] #108 closed

[2019-12-03 03:47] #127 closed

[2019-12-03 04:00] TeddyCr commented on #129
Moved to a project -> https://github.com/orgs/hackla-engage/projects/5

[2019-12-03 04:00] #129 closed

[2019-12-03 04:11] #146 closed

[2019-12-03 04:11] #148 closed

[2019-12-03 04:20] TeddyCr commented on #181
@ldaws003 are you still working on this?

[2019-12-03 04:26] TeddyCr commented on #182
@ldaws003 are you still working on this?

[2019-12-03 09:51] ldaws003 commented on #181
Hi Teddy, I haven't gotten started on this. I haven't gotten a response if it's alright for me to work on it.

[2019-12-03 09:54] ldaws003 commented on #182
Hi Teddy, I have not started working on this issue due me not being able to put this issue into In Progress in the Engage Project Plan since I am not a member of hackla on github.

[2019-12-04 05:43] TeddyCr opened #191 "Implement Agenda Item Feed Redesign"
### Context
As we went through our user tests with our beta version of the platform, the engage wants to implement a redesign of the the item feed page (https://sm.engage.town/#/feed) based on feedback gathered

### Tasks
- [ ] Implement the new design based on the mockups attached

**IMPORTANT**: the `MEET CITY HALL` and `CONTACT` page from the menu do not exist currently. We should make these bu

[2019-12-04 05:57] TeddyCr opened #192 "Create Mocks for Item Card"
### Context
As we are revamping the overall item flow we want to create mocks, matching the style guide of the item feed, for the item card.

### Task
- [ ] Develop design mocks for the item card
- [ ] Upload mocks to the Zeplin account and Google Drive

### Files
Mocks of the item feed page
- [Engage Landing Page UI New.pdf](https://github.com/hackla-engage/engage-client/files/3920263/Engage.Land

[2019-12-04 06:00] TeddyCr opened #193 "Create Mocks for Item Voting Page"
### Context
As we are revamping the overall item flow we want to create mocks, matching the style guide of the item feed, for the item voting page.

### Task
- [ ] Develop design mocks for the item voting page
- [ ] Upload mocks to the Zeplin account and Google Drive

### Files
Mocks of the item feed page
- [Engage Landing Page UI New.pdf](https://github.com/hackla-engage/engage-client/files/39202

[2019-12-04 06:03] TeddyCr opened #194 "Create Mocks for Vote Submission Review"
### Context
As we are revamping the overall item flow we want to create mocks, matching the style guide of the item feed, for the Vote Submission Review page.

### Task
- [ ] Develop design mocks for the Vote Submission Review
- [ ] Upload mocks to the Zeplin account and Google Drive

### Files
Mocks of the item feed page
- [Engage Landing Page UI New.pdf](https://github.com/hackla-engage/engage-c

[2019-12-04 06:08] ldaws003 commented on #182
@TeddyCr Can I just get started on this and the other issue?

[2019-12-04 06:09] TeddyCr opened #195 "Implement Agenda Item Card Redesign"
### Context
As we went through our user tests with our beta version of the platform, the engage team wants to implement a redesign of item card page based on feedback gathered

### Tasks
- [ ] Implement the new design based on the mockups (pending design)

### Dependance
- Issue #192

[2019-12-04 06:11] TeddyCr commented on #182
Sounds good. Thanks @ldaws003
----
@joshbeme for visibility

[2019-12-10 08:04] ldaws003 commented on #182
Thank you

[2019-12-10 18:31] TeddyCr commented on #182
@ldaws003 talking with our UI/UX designer (@THaney15) he brought up a good point. This pop up should show up on the review submission page - after you click the submit button.

Then when you click on the `close and return to feed` button it should redirect you to the feed page.

Let me know if you have any questions.

![image](https://user-images.githubusercontent.com/13626425/70557656-14d76380-1b

[2019-12-12 13:43] ldaws003 commented on #182
@TeddyCr Sounds good, would you also want the url to have this while the popup is there? https://smstaging.engage.town/#/emailConfirmation

[2019-12-12 18:06] TeddyCr commented on #182
@ldaws003, yes, that would be great.

[2019-12-12 19:46] TeddyCr opened #196 "Remove `/#/` in site URL"
@hackla-engage/frontend-engineers is it possible to remove the `/#/` in the URL of the site? If not would you be able to explain why it is included?

Thank you. :)

[2019-12-13 21:42] ldaws003 commented on #182
@TeddyCr sorry, couldn’t make the url change without the page reloading. Everything else seems to work and I made a pull request.

[2019-12-14 01:26] TeddyCr commented on #182
Sounds good. We'll review it and give any feedback if needed. :)

[2019-12-16 20:31] ldaws003 commented on #196
@TeddyCr Not sure you can remove it. It is from the createHashHistory function in the [configureStore.dev.js ](https://github.com/hackla-engage/engage-client/blob/master/src/store/configureStore.dev.js)file. I replaced it with createBrowserHistory but when I tried to go to the agenda feed, I got an error unless I went to the homepage and clicked the link to go there.

[2019-12-18 18:35] ldaws003 commented on #196
@TeddyCr We could make it so that whenever someone tries to go to any other page than the home page, they would be redirected to the app and then send a json response containing the pathname and have the app redirect to that.

Such as when someone types and then go to engage.town/feed the backend would redirected them to engage.town and send a json telling the fronted to render the feed using the

[2020-01-08 17:01] THaney15 commented on #192
![Engage Landing Page UI Item Card w- Search 01](https://user-images.githubusercontent.com/58569011/71999003-751ffa80-31f5-11ea-93bd-de277595c96e.png)

[2020-01-08 17:01] THaney15 commented on #192
![Engage Landing Page UI Item Card w-o Search 01 – 1](https://user-images.githubusercontent.com/58569011/71999013-7e10cc00-31f5-11ea-95c0-8b514987c497.png)

[2020-01-10 17:00] THaney15 commented on #193
Hi Teddy the context you have here sounds like the Disclaimer Page. OR do you want the same copy to be on both pages? OR should this just go on the Disclaimer Page? Let me know. ALSO I'm not so much a copy writer, especially with disclaimer legal writing. If you could write out the disclaimer copy for me to put into the pages that would be awesome.

[2020-03-18 04:43] eselkin opened #199 "pdfLocation now gives the complete address of an S3 bucket item"
Now that pdfLocation gives the complete address of an S3 bucket object, the value needs to be provided to the user in the exact format it comes from the backend.

[2020-03-30 21:53] ldaws003 commented on #199
Hey eselkin, I would like to take a look at this. In which component(s) does this bug occur in?

[2020-03-30 22:38] eselkin commented on #199
So, I handled it on staging, but I think I broke something. Now the "Load More Agendas" is broken. So I need to fix that. I'm not quite sure how I broke that, but it seems I did... unless it was already broken on staging.

[2020-04-03 04:42] ldaws003 commented on #199
It was working the last time I looked at it. It seems for some reason that the reduce method of agendaList in agendas.js doesn’t use the state.agendaItems as an initial value after clicking the load more button. Although it does on initial rendering. state.agendaItems still exists and is defined but the accumulator is undefined.

[2020-04-09 07:15] eselkin commented on #199
Hmm, is this something you'd consider working on? Also, possibly updating the libraries... I've got a number of warnings about the need to update a lot of packages.